.centering {
	min-width: 500px
	margin: 0px auto;
	margin-left: 15%;
	margin-right: 15%;
}

body {
	background: #CECECE;
	font-family: 'Ubuntu', sans-serif;
}

.img-circle {
	border-radius: 50%;
	height: 300px;
	width: 300px;
	margin: 0 auto;
}

.top{
	padding: 20px;
	font-size: 30px;
	width: 50px;
	text-align: center;
	text-decoration: none;
	margin: 5px 2px;
	color: white;
	background: #0B3954;
	border-radius: 50%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media (min-width: 768px) {
	section .fa:hover {
		opacity: 0.7;
	}
}

.img-border {
	border-radius: 50%;
	background: #3B5998;
	width: 500px;
}

.circletag {
	position: relative;
	margin: auto;
    display: block;
    width: 320px;
    height: 320px;
    background: #CECECE;  
    text-align:center;

     /* Firefox */
    display:-moz-box;
    -moz-box-pack:center;
    -moz-box-align:center;
    -moz-border-radius: 50%;

    /* Safari and Chrome */
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
    -webkit-border-radius: 50%;  

    /* W3C */
    display:box;
    box-pack:center;
    box-align:center;
}

.circletag img{
    margin-top: 7px;
}

.sketch {
	margin-top: 0;
	position: absolute;
	height: 200px;
	overflow: hidden;
	transition:height 0.5s; /* Animation time */
    -webkit-transition:height 0.5s; /* For Safari */
    background: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media (min-width: 768px) {
	.sketch:hover {
		height: 495px;
	}
}

.descrip {
	margin-top: 45px;
	list-style-type: none;
    border: 1px solid #CECECE;
    border-radius: 15px;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    background: #FFFFFF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.descrip .name {
	margin: -30px 0 6px 0;
	position: absolute;
	display: block;
	font-size:14px;
}

.column {
	background: #CECECE;
    float: left;
    width: 50%;
    margin-bottom: 20px;
    padding: 0 8px;
}

@media (max-width: 768px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 80px;
    }

    .sketch {
    	width: 768px;
    }
}

.header {
    background-color: #0B3954;
    color: white;
    font-size: 25px;
}

li {
	background: #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    padding: 20px;
    text-align: center;
    border-radius: 15px;
}

.blue {
    background-color: #FFFFFF;
    font-size: 20px;
}

/* SkillBar */
.skills {
	position: relative;
	height: 10px;
	margin: 0;
	padding: 0;
	list-style: none;
	background: #d3d3d3;
	width: 100%;
	border-radius: 20px;
}

.skills .bar {
	position: absolute;
	display: block;
	height: 10px;
	border-radius:20px;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	background-color: #0B3954;
}

.bar .fa {
	position: absolute;
	margin: -8px 46.5%;
	font-size: 15px;
	color: #0B3954;
	width: 26px;
	height: 26px;
	padding: 5px;
	text-align: center;
	text-decoration: none;
	color: white;
	background: #0B3954;
	border-radius: 50%;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.java {width: 70%;}
.js {width: 50%;}
.html {width: 30%;}
.css {width: 20%;}
.python {width: 80%;}
.teamwork {width: 90%;}
.communication {width: 70%;}
.dedication {width: 80%;}
.punctuality {width: 60%;}
.flex {width: 80%;}
.android {width: 65%;}
.ios {width: 65%;}
.p5 {width: 50%;}
.ps {width: 40%;}
.back {width: 80%;}
.front {width: 40%;}
.ml {width: 20%;}
.gd {width: 30%;}

/* Portfolio */
.btn_group {
	margin-left: 15%;
	margin-right: 15%;
	margin:0px auto;
}

.btn_group button {
	display: inline-block;
	margin-left: 17%;
	margin-bottom: 15px;
	border-radius: 50%;
	background-color: #0B3954;
	border: 1px solid #0B3954;
	color: white;
	padding: 10px 10px;
	cursor: pointer;
	float: left;
	width: 70px;
	height: 70px;
	margin-top: 30px;
	box-shadow: 0 9px #999;
	/*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}

.btn_group .focus:focus {
	outline: none;
	box-shadow: 0 5px #666;
  	transform: translateY(4px);
}

.btn_group button:not(:not-child) {
	border-right: none;
}

.btn_group:after {
	content: "";
	clear: both;
	display: table;
}

.btn_group button:hover {
	background-color: #030f17;
}

.portfolio {
	margin-top: 45px;
	margin-bottom: 40px;
	list-style-type: none;
    border: 1px solid #CECECE;
    border-radius: 15px;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    background: #FFFFFF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.portfolio .card {
	border-radius: 15px;
	margin-left: 10%;
	width: 200px;
	background: #CECECE;
	margin-top: 20px;
	margin-bottom: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.pro-pic {
	border-radius: 5%;
	width: 100%;
}

.pro-name {
	padding: 10px 10px;
}

/* Loader */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
  text-align: center;
}
